body{
	background-color: #262323;
}

body.pushable > .pusher{
	background-color: #262323 !important;
}

.map-container {
 	width: 100%;
  	max-width: 100%;
  	height: 100%;
}

#logo {
	position: absolute;
	height: 90px;
	width: auto;
	z-index: 10;
	border-radius: 50%;
}

.pusher {
	height: 100%;
}


#sidebar {
	background-color: #3F2A5E;
}

#outerCard {
	background-color: #234C9D;
	width: 80%;
	margin: auto;
	color: white;
	font-size: 20px;
}

#innerCard {
	background-color: #ffffff;
	width: 90%;
	margin: auto;
	color: black;
	font-size: 15px;
}

#warningSign {
	maring-right: 20px;
}