body{
	background-color: #9933CC;
}

.map-container {
 	width: 100%;
  	max-width: 100%;
  	height: 100%;
}

#logo {
	position: absolute;
	height: 90px;
	width: auto;
	z-index: 10;
	border-radius: 50%;
}

.pusher {
	height: 100%;
}

#sidebar {
	background-color: #3F2A5E;
}