<template name = "layout">
	<head>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	</head>
	<div id = "sidebar" class="ui left demo vertical inverted sidebar labeled icon menu">
	  	<a class="item" id="sidebarButton" href = "{{pathFor route='home'}}">
	    	<i class="child icon"></i>	      
	      	SmapIt! Home
	    </a>
	    <a class="item yourMood" id="sidebarButton" >
	    	<i class="heart icon"></i>
	      	Smap your feels!
	    </a>
	    <a class="item" id="smap">
	    	<i class="send icon"></i>
	      	SmapIt-inerary!
	    </a>
	</div>
	<div class = "pusher">
		<a id = "openMenu"><img id = "logo" src = "images/world.gif"></a>
			{{> yield}}
	</div>
</template>